
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <!---修改区域--->
                <form method="post" action={:U("banner/updateTodo",'bid='.$resone['bid'])} enctype="multipart/form-data">
                    BANNER图片:<input type="file" name="bannerimage" /><a href="{$resone['bannerimage']}">图片已存在，重新上传会覆盖</a><br /><br />
                    <input type="submit" value="更新BANNER" class="btn">
                    <input type="hidden" name="bid" value="$resone['bid']">
                </form>

            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />