
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>更新节点</h3>
                <form action="{:U('note/updateTodo','nid='.$resone['nid'])}" method="post" enctype="multipart/form-data">
                    节点名称: <input type="text" name="nname" value="{$resone['nname']}" /><br /><br />
                    节点控制器: <input type="text" name="controllername"  value="{$resone['controllername']}" /><br /><br />
                    节点方法: <input type="text" name="actionname"  value="{$resone['actionname']}" /><br /><br />
                    <select name="pid">
                        <option value="0">选择分类</option>
                        <volist name="arr" id="v">
                            <option value="{$v['pid']}"  <if condition="$v['pid']==$resone['pid']">selected</if>>{$v['pname']}</option>
                        </volist>
                    </select><br /><br />
                    <input type="hidden" name="nid" value="{$resone['nid']}">
                    <input type="submit" value="我要更新" class="btn">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />