
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <div style="text-align: right"><a class="btn" href="{:U('contact/add')}">关于我们添加</a></div>
                <table class="table table-striped table-bordered table-hover mytable">
                    <tr style="height: 50px;"><th>ID</th><th>公司名称</th><th>二维码</th><th>全国热线</th><th>电话</th><th>地址</th><th>邮编</th><th>传真</th><th>邮箱</th><th>操作</th></tr>
                    <volist name="arr" id="vo">
                        <tr>
                            <td><span class="label label-info">{$vo['cid']}</span></td>
                            <td><span class="label label-success">{$vo['title']}</span></td>
                            <td><img src="__ROOT__/{$vo['erweima']}" width="50px" height="50px"></td>
                            <td><span class="label label-important">{$vo['hot']}</span></td>
                            <td><span class="label label-warning">{$vo['tel']}</span></td>
                            <td><span class="label label-success">{:truncate_zh($vo['address'])}</span></td>
                            <td><span class="label label-inverse">{$vo['youbian']}</span></td>
                            <td><span class="label label-success">{$vo['fax']}</span></td>
                            <td><span class="label label-important">{$vo['email']}</span></td>
                            <td><i class="icon-pencil"></i> <a href="{:U('contact/update','cid='.$vo['cid'])}">编辑</a> | <i class="icon-trash"></i> <a href="{:U('contact/delete','cid='.$vo['cid'])}" onclick="return confirm('亲，数据无价，真的忍心删除吗？')" >删除</a></td>
                        </tr>
                    </volist>
                </table>
                <div class="pagination pagination-large">
                    <ul>{$pageStr}</ul>
                </div>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />