
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->
            <script charset="utf-8" src="__ROOT__/kindeditor/kindeditor.js"></script>
            <script charset="utf-8" src="__ROOT__/kindeditor/lang/zh_cn.js"></script>
            <literal>
                <script>
                    var editor;
                    KindEditor.ready(function(K) {
                        editor = K.create('#editor_id', {
                            resizeType : 1,
                            allowPreviewEmoticons : true,
                            allowImageUpload : true,
                            items : [
                                'source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                'insertunorderedlist', '|', 'emoticons', 'image', 'link','media']
                        });
                    });
                </script>
                <style>
                    .ke-container{width: 500px !important;}
                </style>
            </literal>

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>关于我们更新</h3>
                <form method="post" action={:U('contact/updateTodo',"cid=".$resone['cid'])} enctype="multipart/form-data">
                    公司名称: <input type="text" name="title"  value="{$resone['title']}"/><br />
                    全国热线: <input type="text" name="hot"   value="{$resone['hot']}"/><br />
                    电　　话: <input type="text" name="tel"   value="{$resone['tel']}"/><br />
                    地　　址: <input type="text" name="address"   value="{$resone['address']}"/><br />
                    邮　　编: <input type="text" name="youbian"   value="{$resone['youbian']}"/><br />
                    传　　真: <input type="text" name="fax"   value="{$resone['fax']}"/><br />
                    Q　　Q :  <input type="text" name="qq"  value="{$resone['qq']}"/><br />
                    邮　　箱: <input type="text" name="email"  value="{$resone['email']}"/><br />
                    纬　　度: <input type="text" name="lat"  value="{$resone['lat']}"/><br />
                    经　　度: <input type="text" name="lng"  value="{$resone['lng']}"/><br />
                    二维码: <input type="file" name="erweima" /><a href="{$resone['erweima']}">二维码已存在，重新上传会覆盖</a><br /><br />
                    <input type="hidden" name="cid" value="{$resone['cid']}">

                    <input type="submit" value="关于我们更新" class="btn">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />