<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>logo</title>
    <link rel="stylesheet" href="MBcss/style.css" type="text/css">
</head>
<body>
<div style="width: 1000px; margin: auto;">
    <div class="news_detail">
        <h5>
            <span>环球 推出全新环保节能家居空调</span>
            <div>
                <i>发布时间：{$resone['createtime']|date="Y-m-d H:i:s",###}</i>
            </div>
        </h5>
        <div class="news_detail_cont">
            <img src="{$resone['blogimage']}" alt="">
            <p> {$resone['contents']}</p>
        </div>
    </div>
    {$resone['contents']}
</div>
</body>
</html>