<include file="./Application/Home/View/header.html" />
<div class="clear"></div>
<!-- page -->
<div class="page_contain">
    <!-- top img -->
    <div class="page_top_img"><img src="TPimage/page.jpg" alt="" title=""></div>
    <div class="w_contain m_page">
        <!-- bread crumbs -->
        <div class="bread_crumbs">
            <span>当前位置：<a href="{:U('index/index')}">首页</a>><a href="{:U('product/index')}">产品中心</a></span>
        </div>
    </div>
    <h5 class="product_detail_title1 w_contain m_page">变频 静音云智能 冷暖 挂机空调</h5>
    <div class="product_detail_title2">
        <div class="w_contain m_page" style="background:#fff;">
            <img src="__ROOT__/{$arr['productimage']}" alt="" title=""><p>
            <span>{$arr['keywords']}</span>
            <span>环球变频静音云智能系列空调，U型外观搭载光敏传感、蒸发器自洁技术，为您打造优享生活空间。</span>
            <span>{$arr['func']}</span><br/>
            <span>适用面积：{$arr['area']} </span>
        </p>
        </div>
    </div>
    <div class="product_detail_cont">
        <div class="w_contain m_page">
            <p class="page_title">产品中心</p>
            <div class="product_detail_cont">
               {$arr['decription']|htmlspecialchars_decode}
            </div>
            <p class="page_title">功能规格</p>
            <div class="product_detail_cont">
                {$arr['specification']|htmlspecialchars_decode}
            </div>
        </div>
    </div>
</div>
<!-- page end -->
<!-- top -->
<include file="./Application/Home/View/footer.html" />