
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>更新分类</h3>
                <form method="post" action={:U('categories/updateTodo','pid='.$resone['pid'])} enctype="multipart/form-data">
                    分　　类: <input type="text" name="pname" value="{$resone['pname']}"><br/>
                    <input type="submit" value="更新分类" class="btn">
                    <input type="hidden" name="pid" value="{$resone['pid']}">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />