<!-- top -->
<!---------kefu-------->
<link href="TPcss/css.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="TPjs/top.js"></script>
<div class="main-im">
    <div id="open_im" class="open-im"></div>
    <div class="im_main" id="im_main">
        <div id="close_im" class="close-im"><a href="javascript:void(0);" title="点击关闭"></a></div>
        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$Contactarr[0]['qq']}&site=qq&menu=yes" class="im-qq qq-a" title="在线QQ客服">
            <div class="qq-container"></div>
            <div class="qq-hover-c"><img class="img-qq" src="TPimages/qq.png"></div>
            <span> QQ在线咨询</span> </a>
        <div class="im-tel">
            <div>联系电话</div>
            <div class="tel-num">{$Contactarr[0]['tel']}</div>
        </div>
        <div class="im-footer" style="position:relative">
            <div class="weixing-container">
                <div class="weixing-show">
                    <div class="weixing-txt">扫一扫关注{$Contactarr[0]['title']}微信公众帐号</div>
                    <img class="weixing-ma" src="__ROOT__/{$Contactarr[0]['erweima']}">
                    <div class="weixing-sanjiao"></div>
                    <div class="weixing-sanjiao-big"></div>
                </div>
            </div>
            <div class="go-top"><a href="javascript:;" title="返回顶部"></a> </div>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<script>
    $(function(){
        $('#close_im').bind('click',function(){
            $('#main-im').css("height","0");
            $('#im_main').hide();
            $('#open_im').show();
        });
        $('#open_im').bind('click',function(e){
            $('#main-im').css("height","272");
            $('#im_main').show();
            $(this).hide();
        });
        $('.go-top').bind('click',function(){
            $(window).scrollTop(0);
        });
        $(".weixing-container").bind('mouseenter',function(){
            $('.weixing-show').show();
        })
        $(".weixing-container").bind('mouseleave',function(){
            $('.weixing-show').hide();
        });
    });
</script>

<!-- footer -->
<div class="footer clear">
    <div class="w_contain">
        <div class="contact1">
            <img src="TPimage/tele.png" alt="联系方式" title="联系方式">
            <span>{$Contactarr[0]['tel']}</span>
        </div>
        <div class="contact2_1">
            <img src="__ROOT__/{$Contactarr[0]['erweima']}" width="76px" height="77px" alt="微信二维码" title="微信二维码">
            <p class="rt">
                <span>地址：{$Contactarr[0]['address']}</span>
                <span>电话：{$Contactarr[0]['tel']}</span>
                <span>邮箱：{$Contactarr[0]['email']}</span>
            </p>
        </div>
        <div class="contact2_2">
            <p class="link1">
                <a href="{:U('index/index')}">首页</a>
                <a href="{:U('product/index')}">产品中心</a>
                <a href="{:U('server/index')}">服务与支持</a>
                <a href="{:U('blogs/index')}">新闻资讯</a>
                <a href="{:U('about/index')}">关于环球</a>
                <a href="{:U('contact/index')}">联系我们</a>
            </p>
            <p class="link2">
                <img src="TPimage/link.png" alt="友链" title="友情链接">
                <volist name="Friendlinkarr" id="v">
                    <a href="{$v['flink']}" target="_blank">{$v['fname']}</a>
                </volist>
            </p>
        </div>
        <div class="clear">
            <p class="tc">
                <span>Copyright @ 2015-2018</span>
                <span>版权所有 </span>
                <span>环球空调有限公司</span>
                <span>皖ICP备10000000号</span>
                <span>技术支持：华创在线网络科技（北京）有限公司</span></p>
        </div>
    </div>
</div>
</body>
</html>