<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN STYLE CUSTOMIZER -->



        <!-- END BEGIN STYLE CUSTOMIZER -->

        <!-- BEGIN PAGE TITLE & BREADCRUMB-->

        <h3 class="page-title fl">

            环球空调 <small>欢迎您</small>

        </h3>

        <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="{:U('index/index')}">Home</a>

                <i class="icon-angle-right"></i>

            </li>


            <if condition="$Think.CONTROLLER_NAME==Users">

                <li><a href={:U("users/index")}>用户列表</a></li>

             </if>

            <if condition="$Think.CONTROLLER_NAME==Logo">

                <li><a href={:U("logo/index")}>LOGO列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Banner">

                <li><a href={:U("banner/index")}>BANNER列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Blogs">

                <li><a href={:U("blogs/index")}>新闻资讯</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Product">

                <li><a href={:U("product/index")}>产品中心</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Server">

                <li><a href={:U("server/index")}>服务和支持</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==About">

                <li><a href={:U("about/index")}>关于环球</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Contact">

                <li><a href={:U("contact/index")}>联系我们</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Web">

                <li><a href={:U("web/index")}>网站管理列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Journey">

                <li><a href={:U("journey/index")}>发展历程列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Friendlink">

            <li><a href={:U("friendlink/index")}>友情链接列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Note">

                <li><a href={:U("note/index")}>权限列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Role">

                <li><a href={:U("role/index")}>角色列表</a></li>

            </if>

            <if condition="$Think.CONTROLLER_NAME==Categories">

                <li><a href={:U("categories/index")}>分类列表</a></li>

            </if>


            <if condition="$Think.CONTROLLER_NAME==Index">

                 <li>主 页</li>

            </if>
            <li class="pull-right no-text-shadow"></li>

            <if condition="$Think.ACTION_NAME==index"></if>

            <if condition="$Think.ACTION_NAME==update">

                &nbsp;&nbsp;<i class="icon-angle-right"></i>&nbsp;&nbsp;

                <li>更新</li>

            </if>

            <if condition="$Think.ACTION_NAME==add">

                &nbsp;&nbsp;<i class="icon-angle-right"></i>&nbsp;&nbsp;

                <li>添加</li>

            </if>

            <li class="pull-right no-text-shadow">

            </li>


        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>