<li class="page-sidebar nav-collapse collapse">
    <script type="text/javascript" src="MBjs/jquery-1.12.1.min.js"></script>
    <!-- BEGIN SIDEBAR MENU -->
    <style>
        .yc{
            display: none!important;
        }
        .xs{
            display: block;
        }
    </style>

    <ul class="page-sidebar-menu">

        <li>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

            <div class="sidebar-toggler hidden-phone"></div>

            <!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        </li>

        <li>

            <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->

            <form class="sidebar-search">

                <div class="input-box">

                    <a href="javascript:;" class="remove"></a>

                    <input type="text" placeholder="Search..." />

                    <input type="button" class="submit" value=" " />

                </div>

            </form>

            <!-- END RESPONSIVE QUICK SEARCH FORM -->

        </li>

        <li class="lie" >

            <a href="{:U('index/index')}">

                <i class="icon-home"></i>

                <span class="title">首页</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>
            <ul class="sub-menu" style="display: none;">

                <li class="son">

                    <a name="index" href="{:U('index/index')}">首页</a>

                </li>

            </ul>


        </li>

        <li class="lie">

            <a href="javascript:" >

                <i class="icon-user"></i>

                <span class="title">用户管理</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li class="son">

                    <a name="users" href="{:U('users/index')}">用户管理列表</a>

                </li>

            </ul>

        </li>

        <li class="lie">

            <a href="javascript:">

                <i class="icon-th-large"></i>

                <span class="title">产品中心</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li class="son">

                    <a name="product" href="{:U('product/index')}">产品列表</a>

                </li>

            </ul>

        </li>

        <li class="lie">

            <a href="javascript:">

                <i class=" icon-wrench"></i>

                <span class="title">服务与支持</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li class="">

                    <a  name="server" href="{:U('server/index')}">服务与支持列表</a>

                </li>

            </ul>

        </li>
        <li class="lie">

            <a href="javascript:">

                <i class=" icon-camera"></i>

                <span class="title">新闻资讯</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li >

                    <a  name="blogs" href="{:U('blogs/index')}">新闻资讯列表</a>

                </li>

            </ul>

        </li>
        <li class="lie">

            <a href="javascript:">

                <i class=" icon-thumbs-up"></i>

                <span class="title">关于环球</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li >

                    <a  name="about" href="{:U('about/index')}">关于环球列表</a>

                </li>
                <li >

                <a  name="journey" href="{:U('journey/index')}">发展历程列表</a>

                </li>

            </ul>

        </li>
        <li class="lie">

            <a href="javascript:">

                <i class="icon-phone"></i>

                <span class="title">联系我们</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li >

                    <a name="contact" href="{:U('contact/index')}">联系我们列表</a>

                </li>

            </ul>
        </li>
        <li class="lie">

            <a href="javascript:">

                <i class=" icon-globe"></i>

                <span class="title">站点管理</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li >

                    <a name="web" href="{:U('web/index')}">站点管理列表</a>

                </li>

                <li >

                    <a name="logo"  href="{:U('logo/index')}">LOGO</a>

                </li>

                <li >

                    <a  name="banner"  href="{:U('banner/index')}">BANNER</a>

                </li>
            </ul>
        </li>

        <li class="lie">

            <a href="javascript:">

                <i class=" icon-leaf"></i>

                <span class="title">友情链接管理</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li >

                    <a  name="friendlink"  href="{:U('friendlink/index')}">友情链接列表</a>

                </li>
            </ul>
        </li>

        <li class="lie">

            <a href="javascript:">

                <i class=" icon-cog"></i>

                <span class="title">设置</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>
            <ul class="sub-menu" style="display: none;">

                <li class="" >

                    <a name="role" href="{:U('role/index')}">角色列表</a>

                </li>

                <li >

                    <a name="note" href="{:U('note/index')}">节点列表</a>

                </li>
            </ul>
        </li>

        <li class="lie">

            <a href="javascript:">

                <i class=" icon-th-list"></i>

                <span class="title">分类管理</span>

                <span class="arrow "></span>

                <font class=""></font>

            </a>

            <ul class="sub-menu" style="display: none;">

                <li class="">

                    <a name="categories" href="{:U('categories/index')}">分类列表</a>

                </li>
            </ul>

        </li>

    </ul>

    <!-- END SIDEBAR MENU -->
</div>

    <script type="text/javascript">
        function in_array(search,array){
            for(var i in array){
                if(array[i]==search){
                    return true;
                }
            }
            return false;
        }
        $('.sub-menu li').each(function(){
            var name = $(this).find('a').attr('name');
            var controller="{$controller}";
//                    console.log(controller);
            if(name==controller){
                $(this).parent().parent().addClass("start active open").siblings().removeClass("start active open");
                $(this).parent().parent().children("a").children("font").addClass("selected").siblings().removeClass("selected");
                $(this).parent().parent().children("a").children("span:eq(1)").addClass("open").siblings().removeClass("open");
                $(this).parent().css("display","block");
            }
        });

            $(function(){
                $(".title").each(function(){
                    var title = $(this).text();
                    var pname="{$pname}";
                    pname=pname.split(",");
                    console.log(pname);
//                    console.log(title);
//                    alert($.inArray(name,nav));
                    if(!in_array(title,pname)){
//                        alert($(this).text());
                        $(this).parent().parent().removeClass("start active open").addClass("yc");
                    }
                });

                $('.sub-menu li').each(function(){
                    var name = $(this).find('a').attr('name');
                    var nav="{$nav}";
                    nav=nav.split(",");
//                    console.log(nav);
//                    console.log(i);
//                    alert($.inArray(name,nav));
                    if(!in_array(name,nav)){
//                        alert($(this).text());
                        $(this).addClass("yc");
                    }
                });

                // nav
                $(".lie a").click(function(){
                    $(this).parent().addClass("start active").siblings().removeClass("start active");
                    $(this).children("font").addClass("selected").siblings().removeClass("selected");
                });


            });


    </script>

<!-- END SIDEBAR -->