
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->

            <script charset="utf-8" src="__ROOT__/kindeditor/kindeditor.js"></script>
            <script charset="utf-8" src="__ROOT__/kindeditor/lang/zh_cn.js"></script>
            <literal>
                <script>
                    var editor;
                    KindEditor.ready(function(K) {
                        editor = K.create('#editor_id1,#editor_id2', {
                            resizeType : 1,
                            allowPreviewEmoticons : true,
                            allowImageUpload : true,
                            items : [
                                'source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                'insertunorderedlist', '|', 'emoticons', 'image', 'link','media']
                        });
                    });
                </script>
                <style>
                    .ke-container{width: 500px !important;}
                </style>
            </literal>

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>添加产品</h3>
                <form method="post" action={:U('product/addTodo')} enctype="multipart/form-data">
                    关 键 字: <input type="text" name="keywords" /><br />
                    证书编号: <input type="text" name="certificate" /><br />
                    产品名称: <input type="text" name="title" /><br />
                    型　　号: <input type="text" name="num" /><br />
                    空调类型: <input type="text" name="ktype" /><br />
                    冷暖类型: <input type="text" name="wtype" /><br />
                    功　　率: <input type="text" name="power" /><br />
                    适用面积: <input type="text" name="area" /><br />
                    工作方式: <input type="text" name="func" /><br />
                    产品图片: <input type="file" name="productimage" /><br /><br />
                    产品描述: <textarea  name="decription" id="editor_id1" /></textarea><br />
                    功能规格: <textarea  name="specification" id="editor_id2" /></textarea><br />
                    <input type="submit" value="添加产品" class="btn">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />