<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>产品展示</title>
    <link rel="stylesheet" href="MBcss/style.css" type="text/css">
</head>
<body>
<div style="width: 1000px; margin: auto;">
    <h5 class="product_detail_title1 w_contain m_page">变频 静音云智能 冷暖 挂机空调</h5>
    <div class="product_detail_title2">
        <div class="w_contain m_page" style="background:#fff;">
            <img src="__ROOT__/{$resone['productimage']}" alt="" title="">
        <p>
            <span>{$resone['keywords']}</span>
            <span>环球变频静音云智能系列空调，U型外观搭载光敏传感、蒸发器自洁技术，为您打造优享生活空间。</span>
            <span>{$resone['func']}</span>
            <span>{$resone['area']}</span>
        </p>
        </div>
    </div>
    <div class="product_detail_cont">
        <div class="w_contain m_page">
            <p class="page_title">产品中心</p>
            <div class="product_detail_cont">
                {$resone['decription']|htmlspecialchars_decode}
            </div>
            <p class="page_title">功能规格</p>
            <div class="product_detail_cont">
                {$resone['specification']|htmlspecialchars_decode}
            </div>
        </div>
    </div>
</div>
<!-- page end -->
</div>
</body>
</html>