
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->
            <script charset="utf-8" src="__ROOT__/kindeditor/kindeditor.js"></script>
            <script charset="utf-8" src="__ROOT__/kindeditor/lang/zh_cn.js"></script>
            <literal>
            <script>
                var editor;
                KindEditor.ready(function(K) {
                    editor = K.create('#editor_id', {
                        resizeType : 1,
                        allowPreviewEmoticons : true,
                        allowImageUpload : true,
                        items : [
                            'source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                            'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                            'insertunorderedlist', '|', 'emoticons', 'image', 'link','media']
                    });
                });
            </script>
            <style>
                .ke-container{width: 500px !important;}
            </style>
            </literal>

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>添加发展历程</h3>
                <form method="post" action={:U('journey/addTodo')} enctype="multipart/form-data">
                    发展历程: <textarea  name="contents" id="editor_id" /></textarea><br />
                    <input type="submit" value="添加发展历程" class="btn">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />