
<include file="./Application/Admin/View/header.html" />
<!-- END HEADER -->

<!-- BEGIN CONTAINER -->

<div class="page-container">

    <!-- BEGIN SIDEBAR -->
    <include file="./Application/Admin/View/sidebar.html" />


    <!-- BEGIN PAGE -->

    <div class="page-content">

        <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <div id="portlet-config" class="modal hide">

            <div class="modal-header">

                <button data-dismiss="modal" class="close" type="button"></button>

                <h3>Widget Settings</h3>

            </div>

            <div class="modal-body">

                Widget settings form goes here

            </div>

        </div>

        <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->

        <!-- BEGIN PAGE CONTAINER-->

        <div class="container-fluid">

            <!-- BEGIN PAGE HEADER-->
            <script charset="utf-8" src="__ROOT__/kindeditor/kindeditor.js"></script>
            <script charset="utf-8" src="__ROOT__/kindeditor/lang/zh_cn.js"></script>
            <literal>
                <script>
                    var editor;
                    KindEditor.ready(function(K) {
                        editor = K.create('#editor_id1,#editor_id2', {
                            resizeType : 1,
                            allowPreviewEmoticons : true,
                            allowImageUpload : true,
                            items : [
                                'source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                                'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                                'insertunorderedlist', '|', 'emoticons', 'image', 'link','media']
                        });
                    });
                </script>
                <style>
                    .ke-container{width: 500px !important;}
                </style>
            </literal>

            <include file="./Application/Admin/View/nav.html" />
            <!--内容区域-->
            <div id="main">
                <h3>更新关于我们</h3>
                <form method="post" action={:U('about/updateTodo',"aid=".$resone['aid'])} enctype="multipart/form-data">
                    品牌图片: <input type="file" name="aimage" /><a href="{$resone['aimage']}">品牌图片已存在，重新上传会覆盖</a><br /><br />
                    品牌故事: <textarea  name="story" id="editor_id1" />{$resone['story']}</textarea><br />
                    品牌理念: <textarea  name="philosophy" id="editor_id2" />{$resone['philosophy']}</textarea><br />
                    <input type="hidden" name="aid" value="{$resone['aid']}">
                    <input type="submit" value="更新关于我们" class="btn">
                </form>
            </div>
        </div>


    </div>

    <!-- END PAGE -->

</div>

<!-- END CONTAINER -->

<include file="./Application/Admin/View/footer.html" />