<include file="./Application/Home/View/header.html" />
<div class="clear"></div>
<!-- page -->
<div class="page_contain">
    <!-- top img -->
    <div class="page_top_img"><img src="TPimage/page.jpg" alt="" title=""></div>
    <div class="w_contain m_page">
        <!-- bread crumbs -->
        <div class="bread_crumbs">
            <span>当前位置：<a href="{:U('index/index')}">首页</a>><a href="{:U('about/index')}">关于环球</a></span>
        </div>
        <!-- page title -->
        <h2 class="page_title"><img src="TPimage/column2.png" alt="" title=""></h2>
        <!-- page main content -->
        <div class="page_about">
            <h3>品牌故事</h3>
            {$Aboutarr[0]['story']|htmlspecialchars_decode}
            <h3>我们的理念</h3>
            {$Aboutarr[0]['philosophy']|htmlspecialchars_decode}
            <h3>发展历程</h3>
            <div class="development">
                <volist name="Journeytarr" id="v">
                    <p><span>{$v['contents']}</span></p>
                </volist>
            </div>
        </div>
    </div>
</div>
<!-- page end -->
<!-- top -->
<include file="./Application/Home/View/footer.html" />