@charset "UTF-8";
/*reset*/
body, p, h1, h2, h3, h4,h5,h6, ul, ol, li, dl, dt, dd, input, form, button,i,em { 
	padding: 0; margin: 0; 
	list-style: none; 
	font-weight: normal;
	font: 12px/1 "微软雅黑", "Microsoft YaHei",arial,sans-serif;  
}
.lf { float: left; }
.rt { float: right; }
.clear { clear: both; }
a { text-decoration: none;color:#232323;}
a:hover{text-decoration:underline;}
img { border: none; }
i,em{font-style:normal;}