@charset "UTF-8";
/*public*/
.w_contain{
	width:1000px;
	margin:0 auto;
}
.m_page{
	padding:0 0;
}
/*nav*/
.navcontainer{}
.logo{
	float:left;
	padding:36px 0 24px 20px;
}
.logo img{
	width:205px;
	height:50px;
}
.nav{
	float:right;
}
.nav li{
	float:left;
	padding:40px 22px 15px;
	text-align: center;
	border-top:2px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
}
.nav li.current{
	background:#faf8f8;
	border-top:2px solid #e74c3c;
	border-left:1px solid #f2f2f2;
	border-right:1px solid #f2f2f2;
}
.nav a{
	display: block;
	font-size:16px;
	line-height: 36px;
}
.nav a:hover{
	color:#e74c3c;
	text-decoration: none;
}
/*m_nav*/
.m_nav{
	display: none;
}
.m_nav h1 img{
	height: 48px;
	margin:4%;
	float:left;
}
.menu{
	width:48px;
	height:48px;
	margin:4%;
	float:right;
}
.m_cont{
	position: fixed;
	top:0;
	right: 0;
	z-index: 777;
	width:100%;
	height:100%;
	padding:10% 0;
	background: rgba(111,111,111,0.8);
}
.m_cont ul{
	width:60%;
	margin:0 auto;
	border:1px solid #e74c3c;
	background: #dbdbdb;
}
.m_cont li{
	height: 45px;
	font-size:17px;
	line-height: 44px;
	border-bottom:1px solid #fff;
}
.m_cont a{
	display: inline-block;
	width:100%;
}
.m_cont img{
	display: inline-block;
	vertical-align: middle;
	margin:0 5% 0 10%;
}

/*slider*/
.flexslider{
	position:relative;
	overflow:hidden;
	background:url(../image/loading.gif) 50% no-repeat;
}
.slides{position:relative;z-index:1;}
.slides li a{
	display: inline-block;
	width:100%;height:100%;
}
.flexslider .slides img {width: 100%; display: block;}
.flex-control-nav{
	position:absolute;bottom:10px;z-index:2;
	width:100%;text-align:center;
}
.flex-control-nav li{
	display:inline-block;
	width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;
}
.flex-control-nav a{
	display:inline-block;
	width:14px;height:14px;line-height:40px;overflow:hidden;
	background:url(../image/dot.png) right 0 no-repeat;cursor:pointer;
}
.flex-control-nav .flex-active{background-position:0 0;}
.flex-direction-nav{
	position:absolute;
	z-index:3;
	width:100%;
	top:45%;
	top:-webkit-calc(50% - 25px);
	top:-moz-calc(50% - 25px);
	top:calc(50% - 25px);
}
.flex-direction-nav li a{
	display:block;
	width:50px;height:50px;
	overflow:hidden;
	cursor:pointer;
	position:absolute;
	transition:all 0.5s;
}
.flex-direction-nav li a.flex-prev{
	left:-46px;background:url(../image/prev.png) center center no-repeat;
}
.flex-direction-nav li a.flex-next{
	right:-46px;background:url(../image/next.png) center center no-repeat;
}
/*home main*/
.column1{
	padding:92px 0 44px;
	overflow: hidden;
}
/*page*/
.column_head{
	width:100%;
	font-size:25px;
	text-align: center;
	background: url(../image/dot.jpg) repeat-x center;
	margin-bottom: 26px;
}
.column_head img{
	background:#fff;
}
.column2{
	padding:52px 0 30px;
	background:#f2f2f2;
	overflow: hidden;
}
.column2 .column_head img{
	background: #f2f2f2;
}
.column3{
	padding:52px 0;
	overflow: hidden;
}
.product{
	margin-left:-2%;
	text-align: center;
}
.product li{
	float:left;
	width:23%;
	margin-left:2%;
	margin-bottom: 15px;
}
.product img{
	border:1px solid #e8e8e8;
	padding:1%;
	width:98%;
	transition: all 1.2s;
	-ms-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-webkit-transition: all 1.2s;
	-o-transition: all 1.2s;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.product img:hover{
	border:1px solid #e74c3c;
}
.product span{
	display: inline-block;
	width:100%;
	font-size:14px;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.tab{
	margin-top:20px;
	width: 100%;
	text-align: center;
}
.tab span{
	display: inline-block;
	width:36px;
	height: 4px;
	margin:6px;
	border-radius: 2px;
	background: #fff;
	border:1px solid #dbdbdb;
}
.tab span.current{	
	background: #e74c3c;
	border:1px solid #e74c3c;
}
.about{
	background: #fff;
	padding:1%;
}
.about img{
	width:58%;
	display: inline-block;
	vertical-align: middle;
}
.about p{
	display: inline-block;
	vertical-align: middle;
	width:40%;
	text-indent: 2em;
	font-size: 18px;
	line-height: 28px;
	text-align: justify;
	word-break: break-all;
}
.news ul{
	margin-left:-2%;
}
.news li{
	width:48%;
	margin:0 0 2% 2%;
	float:left;
}
.news img,.news a{
	display: inline-block;
	vertical-align: middle;
}
.news img{
	width:90px;
	height:52px;
	border:1px solid #e2e2e2;
	padding:2px;
	float:left;
}
.news img:hover{
	border:1px solid #e74c3c;
}
.news a{
	width:380px;
}
.news span{
	display: inline-block;
	width:380px;
	float:right;
}
.news span.news_title{
	height:14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	margin-bottom: 14px;
}
.news span:hover{
	color:#e74c3c;
}
.news span.news_cont{
	color:#b2b2b2;
	line-height: 16px;
	height:32px;
	overflow: hidden;
}
.news span.news_cont:hover{
	text-decoration:underline; 
}
/*page*/
.page_contain{
	padding-bottom: 4%;
}
.page_top_img img{
	width:100%;
}
/*bread crumbs*/
.bread_crumbs{
	padding:15px;
	color:#888;
	font-size:12px;
	background: url(../image/bread_ico.png) no-repeat 0 center;
}
.bread_crumbs a{
	color:#888;
}
/*page title*/
.page_title{
	margin:3% 0;
	border-left:3px solid #e74c3c;
	background: #faf8f8;
	padding:10px 30px;
	font-size:16px;
}
.page_title img{
	height:35px;
}
/*page news*/
.page_news li{
	width:100%;
	height:20%;
	padding:2% 0;
	border-bottom:1px solid #f2f2f2;
	overflow: hidden;
}
.page_news li img{
	width:18%;
	display: inline-block;
	vertical-align: middle;
}
.page_news li a{
	display: inline-block;
	vertical-align: middle;
	width:78%;
	overflow: hidden;
	font-size:14px;
	color:#000;
	line-height: 24px;
	padding:1%;
}
.page_news li a:hover{
	color:#e74c3c;
	text-decoration: none;
}
.page_news li a span{
	display: block;
	overflow: hidden;
}
.page_news li a span:first-child{
	line-height: 30px;
	font-weight: 900;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.news_detail{

}
.news_detail h5{
	text-align: center;
	width:100%;
	padding-top:3%;
	border-bottom: 1px solid #e5e5e5;
}
.share{width:390px;margin: 0 auto;}
.news_detail h5 span,.news_detail h5 i{
	display: inline-block;
	width:100%;
}
.news_detail h5 span{
	font-size:30px;
	color:#1e1e1e;
	line-height: 40px;
}
.news_detail h5 i{
	font-size:14px;
	color:#868686;
	padding:3% 0;
	height: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.news_detail_cont{
	padding:3% 0;
}
.news_detail_cont *{	
	margin:2% 0;
}
.news_detail_cont p{
	font-size:14px;
	line-height: 2;
	color:#000;
	text-indent:2em;
	width:100%;
}
/*page product*/
.page_product{
	margin-left:-10%;
}
.page_product li{
	position: relative;
	float:left;
	width:40%;
	margin-left:10%;
	margin-top:4%;
	margin-bottom: 4%;
	padding:3% 0;
	border:1px solid #e8e8e8;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
}
.page_product li>a>img{
	padding:1%;
	width:98%;
	transition: all 1.2s;
	-ms-transition: all 1.2s;
	-moz-transition: all 1.2s;
	-webkit-transition: all 1.2s;
	-o-transition: all 1.2s;
}
.page_product li>span{
	display: inline-block;
	width:96%;
	font-size:26px;
	margin-top:4%;
	text-align: center;
	font-weight:900;
	color:#4c4c4c;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding:0 2%;
}
.hover_cont{
	position: absolute;
	top:0;
	left:0;
	display: inline-block;
	width:80%;
	background: rgba(110,110,110,0.8);
	color:#fff;
	padding:3% 10%;
	z-index:999;
}
.hover_cont>span{
	display: inline-block;
	width:80%;
	font-size:16px;
	line-height: 24px;
}
.hover_cont>span:first-child{
	font-size:18px;
	line-height: 26px;
}
.product_detail_title1{
	font-size: 18px;
	line-height:58px;
	font-weight: 900;
	color:#424242;
}
.product_detail_title2{
	background: #eee;
	width:100%;
	padding:24px 0;
}
.product_detail_title2 img{
	display: inline-block;
	vertical-align: middle;
	width:50%;
	padding:4% 4%;
}
.product_detail_title2 p{
	display: inline-block;
	vertical-align: middle;
	border-left: 1px solid #e2e2e2;
	width:37%;
	padding:4% 0 4% 3%;
}
.product_detail_title2 span{
	display: inline-block;
	font-size:14px;
	line-height: 24px;
	color:#424242;
	margin:10px 0;
}
.product_detail_title2 span:first-child{
	font-size: 18px;
	line-height: 32px;
}
.product_detail_cont img{
	width:100%;
}
/*page about*/
.page_about{
	color:#333;
}
.page_about h3{
	font-size:24px;
	line-height: 50px;
	text-align: center;
}
.page_about>p{
	width:100%;
	padding:10px 0;
	text-indent: 2em;
	font-size:14px;
	line-height:28px;
	color:#555;
}
.development{
	background: url(../image/dot.jpg) repeat-y center;
}
.development p{
	width:100%;
	padding:10px 0;
	overflow: hidden;
	font-size:14px;
	line-height: 24px;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
	clear:both;
	background: url(../image/red_c.png) center center no-repeat;
}
.development p span{
	display: inline-block;
	width:46%;
}
.development p:nth-of-type(odd) span{
	float:left;
	text-align:right;
}
.development p:nth-of-type(even) span{
	float:right;
	text-align:left;
}
/*service*/
.page_service h3{
	font-size: 18px;
	line-height: 1.5;
	text-align: center;
	width:100%;
}
.page_service p{
	font-size:12px;
	line-height: 2;
	padding:2% 1%;
}
.page_service p img{
	width:100%;padding:2% 0;
}
/*contact*/
.page_contact{}
.contact_p{
	padding:3%;
}
.contact_p p{
	width:92%;
	font-size:18px;
	line-height:54px;
	color:#39393a;
}
.contact_p span{
	font-size:24px;
}
.map{
	width:998px;
	height:780px;
	border:1px solid #ccc;
	font-size:12px;
}
/*pageselect*/
.pageselect{
	width:100%;
	text-align: center;
	line-height: 30px;
	overflow: hidden;
	padding:5% 0;
}
.pageselect a{
	border:1px solid #e5e5e5;
	color:#3e3a39;
	margin:0 2px 0 0;
	padding:5px 10px;
	display: inline-block;
}
.pageselect span{
	color:#e74c3c;
	font-weight: bold;
	margin:0 5px;
}
/*page end*/
/*top*/
.izl-rmenu{
	position:fixed;right:13px;bottom:40%;
	padding-bottom:73px;
	z-index:999;
}
.izl-rmenu .btn{
	width:62px;height:62px;
	cursor:pointer;position:relative;
	border:1px solid #e2e2e2;
}
.izl-rmenu .btn-phone{
	background:url(../image/customer.jpg) 0px 0px no-repeat;
}
.izl-rmenu .btn-phone:hover{
	background:url(../image/customer.jpg) 0px 0px no-repeat;
}
.izl-rmenu .btn-top{
	background:url(../image/top.jpg) 0px 0px no-repeat;
	margin-top:-1px;
	display:none;
}
.izl-rmenu .btn-top:hover{
	background:url(../image/top.jpg) 0px 0px no-repeat;
}
/*footer*/
.footer{
	border-top:4px solid #ebebeb;
	width:100%;
	font-size:12px;
	font-family: "宋体";
	color:#b2b2b2;
}
.contact1 {
	font-size:28px;
	padding:30px 15px;
}
.contact1 img,.contact1 span{
	display: inline-block;
	vertical-align: middle;
}
.contact2_1 {
	float:left;
}
.contact2_2 {
	float:right;
}
.contact2_1 p{
	margin-left:38px;
}
.contact2_1 span{
	display: block;
	line-height: 26px;

}
.link1{
	margin-bottom: 40px;
}
.link1 a{
	border-right: 2px solid #232323;
	padding:0 6px;
	line-height: 24px;
	font-weight: 600;
}
.link1 a:last-child{
	border-right: none;
}
.link2 a,.link2 img{
	display: inline-block;
	vertical-align: middle;
}
.link2 a{
	margin-left:10px;
	line-height: 24px;
}
.link2 img{
	padding-right:10px;
	border-right: 1px solid #6f6f6f;
}
.tc{
	text-align:center;
	line-height: 24px;
	padding:50px 0;
}
.tc span{
	margin:0 10px;
}

@media screen and (max-width: 1000px){
/*public*/
.w_contain{
	width:100%;
}
.m_page{
	width:96%;
	padding:0 2%;
}
/*main*/
.column1{
	padding:60px 0 44px;
}
.product{
	margin-left:0;
}
.product li{
	width:42%;
	margin-right:4%;
	margin-left:4%;
}
.about img{
	width:38%;
}
.about p{
	width:60%;
	font-size:16px;
	line-height: 26px;
}
.news ul{
	margin-left:0;
}
.news img{
	width:20%;
	border:1px solid #e2e2e2;
	padding:2px;
	float:left;
}
.news a{
	width:80%;
}
.news img{
	width:15%;
	height:100%;
}
.news span{
	width:100%;
}
.news span.news_title{
	margin-bottom: 0;
}
.page_product li>span{
	font-size:18px;
}
.hover_cont>span{
	font-size:12px;
	line-height: 20px;
}
.hover_cont>span:first-child{
	font-size:14px;
	line-height: 22px;
}
/*page*/
.map{
	width:100%;
	height:300px;
}
/*footer*/
}
@media screen and (max-width:768px){
/*slider*/
/*nav*/
.navcontainer{
	display: none;
}
.m_nav{
	display: block;
}
/*main*/
.column_head img{
	width:50%;
}
.column1{
	padding:50px 0 44px;
}
.about img{
	width:100%;
}
.about p{
	width:94%;
	padding:0 3%;
	font-size:14px;
	line-height: 24px;
}
/*page*/
.page_title{
	margin:2% 0;
}
.page_title img{
	height:25px;
}
.map{
	height:200px;
	margin-bottom: 4%;
}
.page_product li>span{
	font-size:16px;
}
.product_detail_title2 img{
	width:30%;
}
.product_detail_title2 p{
	width:54%;
}
/*footer*/
.contact1,.contact2_1,.contact2_2{
	width:92%;
	padding:12px 4%;
}
.link1{
	margin-bottom: 4%;
}
.contact2_1 p{
	margin-left: 12px;
}
.contact2_2{
	float:left;
	margin-top:0;
}
.tc{
	padding:10px 0;
}
}
@media screen and (max-width:600px){
.page_news li a{
	height:78px;
	overflow: hidden;
}
.share{width:100%;}
.product_detail_title2 img{
	width:50%;
	padding:4% 25%;
}
.product_detail_title2 p{
	width:94%;
	border-top:1px solid #e2e2e2;
	border-left: none;
	padding:4% 3%;
}
}
@media screen and (max-width:300px){
.contact1,.contact2_1{
	text-align: center;
}
.contact2_1 p,.link1{display: none;}
}